%h1
  = "GeoNotifications for #{@user.email}"

%h2 Contact Methods
%ul
  - @user.contacts.each do |contact|
    %li
      = contact.description
      = " [#{link_to("Edit", edit_contact_path(contact))}] "
      = "[#{link_to("Delete", contact_path(contact), :method => :delete)}] "
      = "[#{link_to "Test", send_test_message_contact_path(contact)}]"
  %li
    = link_to "Add a contact method", new_contact_path

%h2 Areas of Interest
%ul
  - @user.areas.each do |area|
    %li
      = link_to area.name, area_path(area)
      = " [#{link_to("Edit", edit_area_path(area))}] "
      = "[#{link_to("Delete", area_path(area), :method => :delete)}]"
  %li
    = link_to "Add an area of interest", new_area_path


= link_to 'Edit', edit_account_path
|
= link_to 'Logout', logout_path