%h1
  = "GeoNotifications for #{@user.email}"

%h2 Contact Methods
%ul
  - @user.contacts.each do |contact|
    %li
      = contact.description
      = " [#{link_to("Edit", edit_contact_path(contact))}] "
      = "[#{link_to("Delete", contact_path(contact), :method => :delete)}] "
      = "[#{link_to "Test", send_test_message_contact_path(contact)}]"
  %li
    = link_to "Add a contact method", new_contact_path

#map_canvas{:style => "width: 1200px; height: 500px"}

= link_to 'Edit', edit_account_path
|
= link_to 'Logout', logout_path